@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    }
body 
{  
    height: 100vh;
    box-sizing: border-box;   
    color: rgb(230, 51, 51);
    background-color: rgb(0, 0, 0);
    top: 5%;
}

.apresentacao{
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.apresentacao__texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

strong{
    color: rgb(255, 255, 255);

}

.apresentacao__texto__paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif; 
    
}
.apresentacao__texto__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;

}
img{
    
    width: 488px;
    height: 488px;
   
}



.apresentacao__links{

    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    margin: 5px;
    text-align: center;
    width: 280px;
    padding: 21.5px 0px ;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    color: black;
    font-family: 'Montserrat', sans-serif; 
    text-decoration:none;    
    border-radius: 16px;
}

.botao1{
color: red;

}
.botao2{
    color: aqua;
}